{% extends 'blog/basic.html' %}
{% load crispy_forms_tags %}


{% block header %}

<h1>Join Today</h1>
<hr class="small">
<span class="subheading">Become a lama</span>

{% endblock header %}


{% block content %}

<form method="POST" style="width: 60%; margin: 0 auto">
    {% csrf_token %}
    <fieldset>
        {{ form|crispy }}
    </fieldset>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
</form>

<div class="border-top pt-3" style="width: 50%; margin: 0 auto">
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
    </small>
</div>


{% endblock content %}