{% load static %}


<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "blog/head.html" %}

<body>

    <!-- Navigation -->
    {% include "blog/navigation.html" %}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{% static 'blog/media/background-image.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">

                        {% block header %} {% endblock header %}

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container" style="padding-bottom: 5%">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %} {% endblock content %}
    </div>

    <!-- JS -->
    {% include "blog/js.html" %}
</body>

</html>
