{% load static %}

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'blog/css/clean-blog.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="{% static 'blog/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,
    400,300,600,700,800' rel='stylesheet' type='text/css'>

    {% if title %}
        <title>Lama Blog - {{ title }}</title>
    {% else %}
        <title>Lama Blog</title>
    {% endif %}

</head>