{% extends "blog/basic.html" %}
{% load crispy_forms_tags %}
{% load multiply %}


{% block header %}

<!-- Article's data -->
<h1>{{ article.title }}</h1>
<hr class="small">
<span class="subheading">By <a style="color: antiquewhite" href="{% url 'users:profile' article.author.username %}">
    {{ article.author }}</a> on {{ article.date_posted|date:"F d, Y" }}</span>
{% endblock header %}

{% block content %}
{% if article.author == user %}
    <div>
        <a class="btn btn-secondary" href="{% url 'blog:article-update' article.id article.slug %}">Update</a>
        <a class="btn btn-danger" href="{% url 'blog:article-delete' article.id article.slug %}">Delete</a>
    </div>
{% endif %}

<div class="media-body">
    <div class="article-content">{{ article.content | linebreaks }}</div>
</div>


<!-- Comments -->
<h2>{{ comments_list.count }} comments</h2>
{% for comment in comments %}

    <div class="comments" style="padding-left: {% multiply comment.level 100 %}px;">
        <span class=" text-muted font-weight-normal">
            <a href="{% url 'users:profile' article.author.username %}">{{ comment.author.username }}</a>,
            {{ comment.created_on }}
        </span>
        <span> {{ comment.body|linebreaks }} </span>
        <label style="cursor: pointer" for="{{ comment.id }}">Reply</label>

    <!-- Form of reply to comment -->
        <div class="card-body">
            {% if user.is_authenticated %}
            <div class="content-section">
                <form method="POST" style="width: 60%; margin: 0 auto">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {# setting parent comment id which will be sent in request #}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <div class="form-group">
                        <button id="{{ comment.id }}" class="btn btn-primary" type="submit">Reply</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

{% empty %}
        <p>There is no comment...</p>
{% endfor %}


<!-- Pager -->
{% include "blog/pagination.html" with page=comments paginator_name='Comments'%}


<!-- Comment form section -->
<div class="card-body">
    {% if user.is_authenticated %}
    <h3>Leave a comment</h3>
    <div class="content-section">
        <form method="POST" style="width: 60%; margin: 0 auto">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock content %}
