{% extends 'blog/basic.html' %}


{% block header %}
<h1>Lama Blog</h1>
<hr class="small">
<span class="subheading">A Blog by Lama</span>
{% endblock header %}


{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% for article in object_list %}
            <div class="post-preview">
                <a href="{% url 'article-detail' article.id %}">
                    <h2 class="post-title">
                       {{ article.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ article.content | truncatewords:8| linebreaks }}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="{% url 'profile' article.author.username %}">
                    {{ article.author }}</a> on {{ article.date_posted }}</p>
            </div>
        <hr>
        {% endfor %}

        <!-- Pager -->
        {% if is_paginated %}

            <div style="position: absolute; width: 100%">
                {%  if page_obj.has_previous %}
                    <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">&#8592;
                        Older Articles</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
                    {%  elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %}
                        <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {%  if page_obj.has_next %}
                    <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">
                        Newer Articles &#8594;</a>
                {% endif %}
            </div>

        {% endif %}

    </div>
</div>
{% endblock content %}